.default {
    background-color: #007a7a;
    border-radius: 5px;
    border: 1px solid #8a8a8a;
    margin: 3px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 200ms, background-color 200ms;
}

.default:hover {
    background-color: #00afaf;
}

.default:active {
    background-color: #00e3e3;
    transform: translateY(2px);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 200ms, background-color 200ms, transform 200ms;
}

.disabled {
    background-color: #004242;
    opacity: 50%;
    border-radius: 3px;
    border: 1px solid #8a8a8a;
    margin: 3px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 200ms, background-color 200ms;
}