.default {
    height: 100px;
    width: 100px;
    background-color: #a2a2d5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.high {
    background-color: coral;
}

.error {
    font-size: 7px;
    color: #cc0000;
}

.info {
    font-size: 7px;
}

